@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
/* .hea{
    color:;
}

.fin{
    color:;
} */

.cla{
    font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

/* .navbar{
    background-color: ;
} */

.tex{
    color: rgb(56, 71, 80);
}

.texa{
    color: rgb(77, 144, 180) ;
}